.symbol {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
}
.symbol img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.symbol span {
    font-weight: 600;
    font-size: 1.2rem;
    color: #9fa6b7;
}
.success {
    color: rgb(0, 204, 0)
}
.error {
    color: rgb(255, 38, 38);
}
